# course config files
*.yaml

# gradle
.gradle/
build

# idea config
.idea

/Topics/*/*/*
/Topics/*/*/src/Task.java
!/Topics/*/*/src

add-exp-files-to-gitignore.ps1
open-all-files-with-with-unclosed-scanner.ps1
.idea/.author_contents_storage_db
.idea/.author_contents_storage_db-wal
.idea/ChatHistory_schema_v2.xml
/Topics/Printing data/Understanding the Number Kingdom/src/Main.java
/Topics/Processing strings/Crafting a Secret Key - Transform Vowels to Unlock the Treasure/src/Main.java
/Topics/Processing strings/Whimsical game/src/Main.java
